.intro{

}

.bg {
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.h2-cover {
    color: #ffffff;
    font-weight:100;
    font-size: 4.5em;
    text-transform: capitalize;
    margin-top: 100px;
}
.line-cover {
    color: #ffffff;
    font-size: 1.1em;
}
.line-cover:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ffffff;
    margin: 5px auto;
}
.btn-radius {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.btn-accept {
    border: none;
    width: 120px;
    background-color: #f4d313;
    color: #ffffff;
    padding: 15px 0px;
    font-weight: bold;
}

.btn-doubt {
    border: none;
    width: 120px;
    color: #ffffff;
    background-color: #ff2255;
    padding: 15px 0px;
    font-weight: bold;
}