body {

}

.bg {
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.h2-cover {
    color: #ffffff;
    font-weight:100;
    font-size: 4.5em;
    text-transform: capitalize;
    margin-top: 100px;
}
.line-cover {
    color: #ffffff;
    font-size: 1.1em;
}
.line-cover:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ffffff;
    margin: 5px auto;
}
.btn-radius {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.btn-accept {
    border: none;
    width: 120px;
    background-color: #f4d313;
    color: #ffffff;
    padding: 15px 0px;
    font-weight: bold;
}

.btn-doubt {
    border: none;
    width: 120px;
    color: #ffffff;
    background-color: #ff2255;
    padding: 15px 0px;
    font-weight: bold;
}

.navbar-logo{
    background-image: url("../img/asset/Logo.png");
    border-radius: 50%;
    position: absolute;
    display: block;
    background-size: cover;
    height: 90px;
    width: 90px;
    margin-top: -8px;
    box-shadow: 10px 5px 10px;
}

.level-logo {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
}

.hidden-col-level {
    visibility: hidden;
}
#bg-testimonial {
    background-image: url("../img/asset/bg_comment.jpg");
    padding: 20px 0px;
    background-size: cover;
    height: 300px;
    position: relative;
}

#testimonial {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 200;
}

#testimonial span {
    display: block;
    font-style: italic;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}